# Data Type Casting

In [7]:
x = "4"
print(int(x))

4

In [1]:
# Cannot convert a string to an integer unless its a valid conversion
y = "batman"
print(int(y))

ValueError: invalid literal for int() with base 10: 'batman'

In [9]:
x = 123.34
print(str(x))

123.34

In [ ]:
car = 20000

print("Anthony " + "bought a car for " + str(car))

# String Indexing

In [ ]:
food = "hot dogs"
len(food)

In [11]:
name = "Anthony"

print(name[0])

A

In [12]:
print(name[1])

n

In [2]:
movie = "tombstone"

ml = len(movie)

if ml < 8:
  print("Hi")
else:
  print(movie[1])

In [ ]:
movie = "arrival"

if movie[3] == "i":

  x = "4"

  print(int(x) * 10)
else:
  print(movie)

In [ ]:
movie = "arrival"

if movie[3] == "i":

  x = "4"

  print(movie[0] + movie[4])
else:
  print(movie)

In [ ]:
x = "tac"
y = "oma"
z = len(x + y)
print(z)

# Arrays

A collection of items in a specific order.

In [1]:
# Integers
numbers = [1, 2, 3, 4, 5]

In [ ]:
# Strings
words = ["hello", "world"]

In [ ]:
mixed = [1, "apple", 3.14, True]  # A list with different data types

In [ ]:
animals = ["cat", "dog", "bird", "fish", "lion"]
print(animals[0])  # First element
print(animals[2])  # Third element
print(animals[-1])  # Last element

In [ ]:
my_list = ["apple", "banana"]
my_list.append("cherry")  # Add an item
print(my_list)

In [ ]:
my_list.remove("banana")  # Remove an item
print(my_list)

In [ ]:
pa_class = ["Anthony" , "Corey" , "Anthony" , "Patrice"]

In [ ]:
pa_class[3]

In [ ]:
s1 = "Anthony"
s2 = "Patrice"

myarray = [s1 , s2]

myarray[0] + " and " + myarray[1]

In [ ]:
numbers = [10 , 23 , 45 , 45]
names = ["Anthony" , "Evin"]

print(names[0] + " has " + str(numbers[0]) + " dogs")

In [ ]:
mix = [100 , "2 years old"]

if len(mix) >= 3:
  print(mix[0])
else:
  print("my number is " + str(mix[0] * int(mix[1][0])))

In [ ]:
mix = [100 , "2 years old"]

if len(mix) >= 3:
  print(mix[0])
else:
  print(mix[0] * int(mix[1][0]))