I have a deck of 52 cards, in 3 separate code cells, print the following:

The number of total cards by using a variable <br>
Assign a variable for the number of Aces in the deck (there are 4 aces) <br>
Calculate the chance/probability (result will be between 0 and 1) of getting an Ace and print out that probability.

In [1]:
print(52)

52

In [2]:
cards = 52

In [3]:
print(cards)

52

In [4]:
aces = 4
print(4)

4

In [5]:
print("aces=4")

aces=4

# Arithmetics

The main arithmetics we will cover today are: <br>

1) Addition: + <br>
2) Substraction: - <br>
3) Division: / <br>
4) Multiplication: *

In [6]:
print(1+1)

2

integer + integer = integer <br>
integer - integer = integer

In [7]:
print(1+1.2)

2.2

integer + float = float <br>
integer - float = float

In [8]:
print(1.4-1)

0.3999999999999999

In [13]:
print(2*5)

10

Division will always result in float

In [11]:
print(1/2)

0.5

In [12]:
print(5/2)

2.5

In [17]:
y = 4
x = 2

print(x*y)

8

In [16]:
print(x-y-1)

-2

In [18]:
print(y/x)

2.0

# Arithmetics with Strings

In [45]:
name = "Anthony"
familyname = "Moubarak"
space = " "
x = " the third"

In [46]:
print(name + space + familyname + x)

Anthony Moubarak the third

In [47]:
print("Hello my name is " + name)

Hello my name is Anthony

**NOTE**: Empty spaces are considered characters/letters, so "Anthony" is different than " Anthony", different than "  Anthony" , etc.

# Conditionals

In [53]:
print(1 == 2)

False

In [56]:
print(1 != 2)

True

In [54]:
print(1 < 2)

True

In [55]:
print(10 <= 10)

True

In [57]:
print("a" == "A")

False

In [58]:
print("a" == "a ")

False

In [59]:
a = 2

print(a == "2")

False

In [62]:
a = 2.0
b = 4
c = 2
x = b/c
print(x == a)

True

In [61]:
a = 2.0
b = 4
c = 2
x = b/c
print(x)

2.0

# If Statements

**NOTE**: Always look at if else statements vertically in pairs

In [64]:
if 1 == 2:
  print("Hello")

print("Anthony")

In [71]:
x = 4
y = 5


if x==y:
  if x/y == 2:
    print("Hi")
  else:
    print("Bye")

else:
  print("Not equal numbers")

Not equal numbers

In [76]:
x = ""


if x == 3:
  print("Hey")

else:
  print("Bye")

print(4/2)

Bye
2.0

In [83]:
a = "anthony"
b = "anthony"
x = 1
y = 1
z = 10

if a == b:

  if x*-1 == 1:
    print(10/2 == 5)
  else:
    print("Bye")

else:
  print("Monday")

Bye

In [87]:
x = 4

if x == 3:
  print("3")

elif x == 5:
  print("5")

else:
  print("Not 3")

3